# Other Data Types

### July 29, 2020 | Week 2 Day 3
### Instructor: Monique Wong

## Agenda
1. Tabular data and tidy data  (30 mins)
* What other data types? (15 mins)
* Break (10 mins)
* Demo (45 mins)

## What is tabular data?
- each row is a single observation
- variables are in columns

What is **tidy data**? 
- each variable is a single column, and
- each value is a single cell (i.e., its row, column position in the data frame is not shared with another value)

## Tidy data

<img src="https://d33wubrfki0l68.cloudfront.net/6f1ddb544fc5c69a2478e444ab8112fb0eea23f8/91adc/images/tidy-1.png" width="800" />

What is a variable and an observation may depend on your immediate goal.

*Source: [R for Data Science](https://r4ds.had.co.nz/) by Garrett Grolemund & Hadley Wickham*

## Is the example tidy? (1)
*Example source: https://garrettgman.github.io/tidying/*

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | cases_per_capita |
|---------|-------|---|
| Afghanistan | 1999|      745/19987071
|Afghanistan |2000    | 2666/20595360
|      Brazil |1999|   37737/172006362
|      Brazil |2000  | 80488/174504898
|      China |1999| 212258/1272915272
|      China |2000 |213766/1280428583

## Is the example tidy? (2)

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?


| country | cases (year=1999) | cases (year=2000)| population (year=1999) | population (year=2000)|
|---------|-------|-------|-------|-------|
| Afghanistan |   745 |  2666 |  19987071 |  20595360 |
|  Brazil | 37737 | 80488 | 172006362 | 174504898 |
|  China | 212258 | 213766 | 1272915272 | 1280428583 |

## Is the example tidy? (3)

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | cases | population |
|---------|-------|-------|------------|
| Afghanistan | 1999  |  745  | 19987071|
| Afghanistan | 2000 |  2666 |  20595360|
|Brazil |1999 | 37737  |172006362|
| Brazil| 2000 | 80488 | 174504898|
| China | 1999 | 212258 |1272915272|
|  China |2000 | 213766 | 1280428583|

## Is the example tidy? (4)

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | key | value |
|---------|-------|-------|------------|
|Afghanistan |1999 |     cases   |     745
| Afghanistan |1999| population  | 19987071
|  Afghanistan |2000|      cases |      2666
|  Afghanistan| 2000| population |  20595360
|       Brazil| 1999|      cases |     37737
|       Brazil |1999| population | 172006362
|       Brazil| 2000|      cases  |    80488
|       Brazil |2000| population | 174504898
|        China |1999|      cases  |   212258
|       China |1999| population |1272915272
|       China |2000|      cases |    213766
|       China |2000| population| 1280428583

## What other types of data is useful to data scientists?

Exercise: Let's fill out this table together.

| Data Type | Example | What are we trying to use it for? |
|:-|:---------------------|:--------------------------------------------|
| Text         | Tweets | Sentiment analysis |
| JSON or XML  |        |                    |
| HTML         |        |                    |
| Images       |        |                    |

- Text: will be covered in more detail when we're doing Natural Language Processing (NLP)
- JSON: we already covered
- **XML and HTML: We'll talk through today**
- Images: will be covered in more detail when we're doing Convolutional Neural Networks (CNNs)

## Data science intro to XML and HTML
- hierarchical collection of elements
- element consists of start tag, content and end tag, and attributes
- tags have names and are delimited with `<` and `>`; end tag with `</`
- attributes added after the tag name within `<` and `>`

For example: `<country name="Canada">`
- `country` is the tag
- `name="Canada"` is an attribute

**HTML is just XML for webpages.**

## Let's see a HTML example

Let's take a look at an example: https://en.wikipedia.org/wiki/List_of_FIFA_World_Cup_winners
- Use inspect page to see HTML
- Explain header, body, tags etc.

# Break

Come back at ...

## Different data, different tools

1. Tabular data: `pandas`
* JSON: `json`
* XML and HTML: `xml`
* Can also use `BeautifulSoup` for HTML (will not cover, just so you know it exists)

We will demo these.

## Tabular data using pandas

In [2]:
import pandas as pd

In [3]:
wine_csv = pd.read_csv('data/wine.csv')
wine_csv

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

In [5]:
wine_xlsx = pd.read_excel('data/wine.xlsx')
wine_xlsx

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

## Python and Excel
- They are complementary! It's not a competition
- Uses for both
- For example:

In [6]:
wine_2 = pd.read_excel('data/wine_2.xlsx')
wine_2

  This workbook contains data for different wines
0                           Created by John Smith

- What's wrong?

## Python and Excel ... continued
- If I opened the Excel, I would find out that the useful data is on Sheet 2

In [7]:
wine_2 = pd.read_excel('data/wine_2.xlsx', sheet_name=1) # here, I reference the sheet name
wine_2

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

## JSON

Here's some sample JSON: https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json

In [8]:
# You can read from the URL too!!
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'
json_data = pd.read_json(url)
json_data.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## JSON ... continued
- `pd.read_json` doesn't work so well with nested JSON...
- Let's take a look at what a nested JSON is: https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json

In [9]:
# an error is supposed to happen when you run this cell

nested_json = pd.read_json('data/nested.json')
nested_json

ValueError: arrays must all be same length

## JSON ... continued

- Instead, you can try this:

In [10]:
import json

with open('data/nested.json') as file:
    nested_json = json.load(file)

nested_json

{'article': [{'id': '01',
   'language': 'JSON',
   'edition': 'first',
   'author': 'Allen'},
  {'id': '02',
   'language': 'Python',
   'edition': 'second',
   'author': 'Aditya Sharma'}],
 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}

- What is the type?

In [11]:
type(nested_json)

dict

## XML
- Let's take a look at an XML file: https://drive.google.com/file/d/1Nfq42ss8jIqajaAOVdwzW4D3D5oL7Y2t/view
- We use the `xml` package to work with XML

In [13]:
import xml.etree.ElementTree as et

In [14]:
# parses the XML so that it figures out the "tree" of tags
tree = et.parse('data/data.xml')
tree

In [15]:
# get to the root tag of the file
root = tree.getroot()
root

## XML ... continued

From the root, we can begin to navigate the tree

In [18]:
# get root tag
print("What is the root tag:", root.tag)

# get root attributes
print("Attributes of the root tag:", root.attrib)

# get number of "children"
print("Number of children:", len(root))

What is the root tag: data
Attributes of the root tag: {}
Number of children: 3

In [25]:
# printing out the children of root
for idx in range(len(root)):
    print("tag:", root[idx].tag, "| attribute:", root[idx].attrib)

tag: country | attribute: {'name': 'Liechtenstein'}
tag: country | attribute: {'name': 'Singapore'}
tag: country | attribute: {'name': 'Panama'}

## XML ... continued

Let's continue exploring...

In [32]:
country1 = root[0]
rank = country1[0]

print(country1.attrib)
print(rank.tag, ":", rank.text)

{'name': 'Liechtenstein'}
rank : 1

Can you follow where we got to on the `data.xml` file?